.login-title {
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
}

.login-title span {
    font-size: 1.5rem;
    font-weight: 700;
}
.card {
    background-color: #F3F3F3;
}

.bgr {
    background: url('../../../assets/loginBackground/mainbackground.jpg');
    //background-position: center center;
    //background-repeat: no-repeat;
    //background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover ;
    background-size: cover;
    height: 100vh;
  }