<div class="row">
  <div class="col-4">
    <strong>Car Management System</strong>
    <img src="../assets/systemImg/add-user.png" width="25" height="25" (click)="toAddReport()"/>
    <img src="../assets/systemImg/report.png" width="25" height="25" (click)="toReport()"/>
    <img src="../assets/systemImg/setting.png" width="25" height="25" (click)="toMaintain()"/>
  </div>
  <div class="col-8">
    <div class="float-right">
      <img src="../assets/systemImg/united-states.png" width="25" height="25" (click)="this.utility.useLanguage('en')"/>
      <img src="../assets/systemImg/vietnam.png" width="25" height="25" (click)="this.utility.useLanguage('vn')"/>

    </div>    
  </div>
</div>