<div class="row">
  <div class="col-2">
    <strong>Car Management System</strong>
  </div>
  <div class="col-10">
    <div class="float-right">
      <img src="../assets/systemImg/taiwan.png" width="25" height="25" />
      <img src="../assets/systemImg/united-states.png" width="25" height="25"/>
      <img src="../assets/systemImg/pagination.png" placement="bottom" width="25" height="25"/>
      <img src="../assets/systemImg/no-pagination.png" placement="bottom" width="25" height="25"/>
      <!--<img src="../assets/systemImg/vietnam.png" width="25" height="25" />-->
    </div>    
  </div>
</div>