<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <app-one-page-header></app-one-page-header>
        </div>
        <div class="card-body">
          <form #addModelForm="ngForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>{{ 'Report.titleList.companyName' | translate }}</label>
                <select
                class="form-control"
                name="companyName"
                [(ngModel)]="model.companyId"
                required
                (focus)="getAllCompany()">
                <option
                  *ngFor="let company of companyList"
                  value="{{ company.id }}">
                  {{ company.companyName }}
                </option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.plateNumber' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="plateNumber"
                  [(ngModel)]="model.plateNumber"
                  required
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.driverName' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="driverName"
                  [(ngModel)]="model.driverName"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label style="color:red;">{{ 'Report.titleList.licenseNumber' | translate }} *</label>
                <input
                  type="text"
                  class="form-control"
                  name="licenseNumber"
                  [(ngModel)]="model.licenseNumber"
                  required
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.tempNumber' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="tempNumber"
                  [(ngModel)]="model.tempNumber"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label>{{ 'Report.titleList.signInReason' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="signInReason"
                  [(ngModel)]="model.signInReason"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.goodsName' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="goodsName"
                  [(ngModel)]="model.goodsName"
                  required
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.goodsCount' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="goodsCount"
                  [(ngModel)]="model.goodsCount"
                  required
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.departmentName' | translate }}</label>
                <select
                class="form-control"
                name="departmentName"
                [(ngModel)]="model.departmentId"
                required
                (focus)="getAllDepartment()">
                <option
                  *ngFor="let dept of departmentList"
                  value="{{ dept.id }}">
                  {{ dept.departmentName }}
                </option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.contactPerson' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="contactPerson"
                  [(ngModel)]="model.contactPerson"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.sealNumber' | translate }} ({{ 'Common.optional' | translate }})</label>
                <input
                  type="text"
                  class="form-control"
                  name="sealNumber"
                  [(ngModel)]="model.sealNumber"
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.guardName' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="guardName"
                  [(ngModel)]="model.guardName"
                  required
                />
              </div>
              <div class="form-group col-md-1">
                <label>{{ 'Report.titleList.cardId' | translate }}</label>
                <select
                class="form-control"
                name="carSize"
                [(ngModel)]="model.carId"
                required
                (focus)="getAllCarList()">
                <option
                  *ngFor="let car of carList"
                  value="{{ car.id }}">
                  {{ car.carSize }}
                </option>
                </select>
              </div>              
              <div class="form-group col-md-2">
                <button type="button" class="btn btn-primary mt-4 btn-lg" 
                (click)="save()" [disabled]="!addModelForm.valid">{{ 'Common.btnList.save' | translate }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">{{ 'Common.loadingPleaseWait' | translate }}</p></ngx-spinner
>
