<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <app-one-page-header></app-one-page-header>
        </div>
        <div class="card-body">
          <form #addModelForm="ngForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>{{ 'Report.titleList.companyName' | translate }}</label>
                <select
                class="form-control"
                name="companyName"
                [(ngModel)]="model.companyId"
                required
                >
                <option
                  *ngFor="let company of companyList; let i of index"
                  value="{{ company.id }}"
                  selected="companyList[i].id == model.companyId">
                  {{ company.id }} {{ company.companyName }}
                </option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.plateNumber' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="plateNumber"
                  [(ngModel)]="model.plateNumber"
                  required
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.driverName' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="driverName"
                  [(ngModel)]="model.driverName"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label style="color:red;">{{ 'Report.titleList.licenseNumber' | translate }} *</label>
                <input
                  type="text"
                  class="form-control"
                  name="licenseNumber"
                  [(ngModel)]="model.licenseNumber"
                  required
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.tempNumber' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="tempNumber"
                  [(ngModel)]="model.tempNumber"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label>{{ 'Report.titleList.signInReason' | translate }}</label>
                <select
                class="form-control"
                name="signInReason"
                [(ngModel)]="model.signInReason"
                required
              >
                <option value = "{{ 'Report.inOutList.import' | translate }}" selected>{{ 'Report.inOutList.import' | translate }}</option>
                <option value = "{{ 'Report.inOutList.export' | translate }}" selected>{{ 'Report.inOutList.export' | translate }}</option>
              </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.goodsName' | translate }}({{ 'Common.optional' | translate }})</label>
                <input
                  type="text"
                  class="form-control"
                  name="goodsName"
                  [(ngModel)]="model.goodsName"
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.goodsCount' | translate }}({{ 'Common.optional' | translate }})</label>
                <input
                  type="text"
                  class="form-control"
                  name="goodsCount"
                  [(ngModel)]="model.goodsCount"
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.departmentName' | translate }}</label>
                <select
                class="form-control"
                name="departmentName"
                [(ngModel)]="model.departmentId"
                required
                >
                <option
                  *ngFor="let dept of departmentList; let i of index"
                  value="{{ dept.id }}"
                  selected="departmentList[i].id == model.departmentId">
                  {{ dept.id }} {{ dept.departmentName }}
                </option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.contactPerson' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="contactPerson"
                  [(ngModel)]="model.contactPerson"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.sealNumber' | translate }} ({{ 'Common.optional' | translate }})</label>
                <input
                  type="text"
                  class="form-control"
                  name="sealNumber"
                  [(ngModel)]="model.sealNumber"
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.guardName' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="guardName"
                  [(ngModel)]="model.guardName"
                  required
                />
              </div>
              <div class="form-group col-md-1">
                <label>{{ 'Report.titleList.cardId' | translate }}</label>
                <select 
                class="form-control"
                name="carSize"
                [(ngModel)]="model.carId"
                required
                >
                <option 
                  *ngFor="let car of carList;let i of index"
                  value="{{ car.id }}"
                  selected="carList[i].id == model.carId">
                  {{ car.id }} {{ car.carSize }}
                </option>
                </select>
              </div>         
              <div class="form-group col-md-1" *ngIf="this.model.signInDate;else elseEditBtn">
                <button type="button" class="btn btn-primary mt-4 btn-lg" 
                (click)="edit()" [disabled]="!addModelForm.valid">{{ 'Common.btnList.edit' | translate }}</button>
              </div>                                           
              <ng-template #elseEditBtn>
                <div class="form-group col-md-1">
                  <button type="button" class="btn btn-primary mt-4 btn-lg" 
                  (click)="save()" [disabled]="!addModelForm.valid">{{ 'Common.btnList.save' | translate }}</button>
                </div>  
              </ng-template>
              <div class="form-group col-md-2" *ngIf="this.model.signInDate" >
                <label>{{ 'Report.titleList.signInDate' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="signInDate"
                  value="{{ model.signInDate | date: 'yyyy/MM/dd HH:mm:ss'}}"
                  readonly
                />
              </div> 
              <div class="form-group col-md-2" *ngIf="!this.model.signOutDate; else elseSignoutDate" >
                <button type="button" class="btn btn-warning mt-4 btn-lg" 
                (click)="this.signOut()" [hidden]="!this.model.signInDate">{{ 'Common.btnList.signOut' | translate }}</button>
              </div>
              <ng-template #elseSignoutDate>
                <div class="form-group col-md-2" >
                  <label>{{ 'Report.titleList.signOutDate' | translate }}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="signOutDate"
                    value="{{ model.signOutDate | date: 'yyyy/MM/dd HH:mm:ss'}}"
                    readonly
                  />
                </div> 
              </ng-template>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">{{ 'Common.loadingPleaseWait' | translate }}</p></ngx-spinner
>
