<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <app-one-page-header ></app-one-page-header>
        </div>
        <div class="card-body">
          <p>Maintain </p>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">{{ 'Common.loadingPleaseWait' | translate }}</p></ngx-spinner
>
