// Here you can add other styles
 .zoom-in {
   cursor: url('../assets/systemImg/down.png'), default;
 }
 .zoom-out {
    cursor: url('../assets/systemImg/up.png'), default;
  }
input.larger {
  width: 30px;
  height: 30px;
}
//using in nav.ts
.menu-margin a {
  padding-left: 30px !important;
}
.menu-child-margin a {
  padding-left: 35px !important;
}
//using in nav.ts