<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <app-one-page-header ></app-one-page-header>
        </div>
        <div class="card-body">
          <tabset>
            <tab heading="Maintain Company" id="tab1">
            
              <form [formGroup]="companyFormGroup" class="container mt-3" (ngSubmit)="submitCompanyList()">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <section class="container border mb-4 p-3" formArrayName="companys" 
                      *ngFor="let company of getCompanyForm.controls; let i = index;">
                      <div [formGroupName]="i">
                        <div class="row">
                        </div>
                        <div class="row">
                          <div class="col-1">
                              <div class="form-group">
                                  <label>Id</label>
                                  <input type="text" [ngClass]="{'bg-warning': company.dirty }" class="form-control" formControlName="id" readonly/>
                              </div>
                          </div>
                          <div class="col-8">
                              <div class="form-group">
                                  <label>Company Name</label>
                                  <input type="text" class="form-control" formControlName="companyName"/>
                              </div>
                          </div>
                          <div class="col-2">
                            <div class="form-group">
                                <label>Company Distance</label>
                                <input type="text" class="form-control" formControlName="companyDistance"/>
                            </div>
                          </div>
                          <div class="col-1" *ngIf="!this.company.value.id">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-danger float-right mt-8" (click)="removeCompany(i)">Remove</button>
                          </div> 
                        </div>
                      </div>
                    </section> 
                    <button type="button" class="btn btn-primary mb-2" (click)="addEmptyCompany()">Add Company</button>
                    <input type="submit" class="btn btn-success mb-2" value="Submit"/>              
                  </div>
                </div>
              </form>  
             
            </tab>

            <tab heading="Maintain Car">
              <form [formGroup]="carFormGroup" class="container mt-3" (ngSubmit)="submitCarList()">
                <div class="row justify-content-center">
                  <div class="col-6">
                    <section class="container border mb-4 p-3" formArrayName="cars" 
                      *ngFor="let car of getCarForm.controls; let i = index;">
                      <div [formGroupName]="i">
                        <div class="row">
                        </div>
                        <div class="row">
                          <div class="col-2">
                              <div class="form-group">
                                  <label>Id</label>
                                  <input type="text" [ngClass]="{'bg-warning': car.dirty }" class="form-control" formControlName="id" readonly/>
                              </div>
                          </div>
                          <div class="col-8">
                              <div class="form-group">
                                  <label>Car Size</label>
                                  <input type="text" class="form-control" formControlName="carSize"/>
                              </div>
                          </div>
                          <div class="col-2" *ngIf="!this.car.value.id" >
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-danger float-right mt-8" (click)="removeCar(i)">Remove</button>
                          </div>
                        </div>
                      </div>
                    </section> 
                    <button type="button" class="btn btn-primary mb-2" (click)="addEmptyCar()">Add Car</button>
                    <input type="submit" class="btn btn-success mb-2" value="Submit"/>              
                  </div>
                </div>
              </form>             
            </tab>

            <tab heading="Maintain Department">
              <form [formGroup]="departmentFormGroup" class="container mt-3" (ngSubmit)="submitDepartmentList()">
                <div class="row justify-content-center">
                  <div class="col-6">
                    <section class="container border mb-4 p-3" formArrayName="departments" 
                      *ngFor="let department of getDepartmentForm.controls; let i = index;">
                      <div [formGroupName]="i">
                        <div class="row">
                        </div>
                        <div class="row">
                          <div class="col-2">
                              <div class="form-group">
                                  <label>Id</label>
                                  <input type="text" [ngClass]="{'bg-warning': department.dirty }" class="form-control" formControlName="id" readonly/>
                              </div>
                          </div>
                          <div class="col-8">
                              <div class="form-group">
                                  <label>Department Name</label>
                                  <input type="text" class="form-control" formControlName="departmentName"/>
                              </div>
                          </div>
                          <div class="col-2" *ngIf="!this.department.value.id" >
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-danger float-right mt-8" (click)="removeDepartment(i)">Remove</button>
                          </div>
                        </div>
                      </div>
                    </section> 
                    <button type="button" class="btn btn-primary mb-2" (click)="addEmptyDepartment()">Add Department</button>
                    <input type="submit" class="btn btn-success mb-2" value="Submit"/>              
                  </div>
                </div>
              </form>  
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">{{ 'Common.loadingPleaseWait' | translate }}</p></ngx-spinner
>
