<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-2">
              <strong>{{ 'F428.title' | translate }}</strong>
            </div>
            <div class="col-10">
              <div class="float-right">
              <strong *ngIf="this.sF428SampleNoDetail.loginUser">{{ 'Common.hello' | translate }} {{ this.sF428SampleNoDetail.loginUser }}</strong>
              <img src="../assets/systemImg/taiwan.png" tooltip="{{ this.sF428SampleNoDetail.loginUser }} Prefers Mandarin" placement="bottom" width="25" height="25"  (click)="this.utility.useLanguage('zh')"/>
              <img src="../assets/systemImg/united-states.png" tooltip="{{ this.sF428SampleNoDetail.loginUser }} Prefers English" placement="bottom" width="25" height="25"  (click)="this.utility.useLanguage('en')"/>
              <!--<img *ngIf="sF428SampleNoDetail.isPaging === true" tooltip="pagination on" placement="bottom" src="../assets/systemImg/pagination.png" width="25" height="25"  (click)="this.utility.setPagination(false,this.sF428SampleNoDetail)"/>
              <img *ngIf="sF428SampleNoDetail.isPaging === false" tooltip="pagination off" placement="bottom" src="../assets/systemImg/no-pagination.png" width="25" height="25"  (click)="this.utility.setPagination(true,this.sF428SampleNoDetail)"/>
              -->
              <img src="../assets/systemImg/exit.png" tooltip="Logout" placement="bottom" width="25" height="25" (click)="this.utility.logout()"/>
            </div>
            </div>
          </div>
        </div>
        <form class="form-horizontal" #F428DataForm="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-12">
                <div class="col">
                  <label class="col-form-label mr-1">Sample No</label>
                  <input
                    class="col-form-label mr-1"
                    type="text"
                    name="season"
                    [(ngModel)]="sF428SampleNoDetail.sampleNo"
                    required
                  />

                  <button
                    class="btn btn-primary mr-1"
                    type="button"
                    (click)="search()"
                    [disabled]="!F428DataForm.valid"
                  >
                  {{ 'Common.btnList.search' | translate }}
                  </button>
                  <!--<button
                    class="btn btn-primary mr-1"
                    type="button"
                    (click)="export()"
                    [disabled]="!F428DataForm.valid"
                  >
                  {{ 'Common.btnList.export' | translate }}
                  </button>!-->
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row" *ngIf="result.length > 0">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table text-center table-striped"><!--text-nowrap不換行-->
                    <thead>
                      <tr class="table-info">
                        <th style="width:5%; background-color:#76DAFF;" >Serial No.</th>
                        <th style="width:5%; background-color:#76DAFF;" >Edit</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.partNo' | translate }}</th>
                        <th style="width:10%; background-color:#76DAFF;" >{{ 'F428.titleList.partName' | translate }}</th>
                        <th style="width:15%; background-color:#76DAFF;" >{{ 'F428.titleList.materialName' | translate }}</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.MaterialNo' | translate }}</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.sSBMatPID' | translate }}</th>

                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.supName' | translate }}</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.colorName' | translate }}</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.colorCode' | translate }}</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.uOM' | translate }}</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.cons' | translate }}</th>

                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.total' | translate }}</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.status' | translate }}</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.checkStockNo' | translate }}</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.checkUser' | translate }}</th>
                        <th style="width:5%; background-color:#76DAFF;" >{{ 'F428.titleList.checkTime' | translate }}</th>                     
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of result; let i = index">
                        <tr>
                          <td>{{i+1}}</td>
                          <td> <div [hidden]="!item.materialNo || item.cons==='0'" ><img src="../assets/systemImg/edit.png" width="30" height="30"  (click)="this.edit(item)"/></div></td>
                          <td>{{ item.partNo }}</td>
                          <td>{{ item.partName }}</td>
                          <td>{{ item.materialName }}</td>
                          <td>{{ item.materialNo }}</td>
                          <td>{{ item.ssbMatPid }}</td>

                          <td>{{ item.supName }}</td>
                          <td>{{ item.colorName }}</td>
                          <td>{{ item.colorCode }}</td>
                          <td>{{ item.uom }}</td>
                          <td>{{ item.cons }}</td>

                          <td>{{ item.total }}</td>
                          <td>{{ item.status }}</td>
                          <td>{{ item.checkStockNo }}</td>
                          <td>{{ item.checkUser }}</td>
                          <td>{{ item.checkTime }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <div class ="d-flex justify-content-start">
                    <pagination *ngIf="this.sF428SampleNoDetail.isPaging" 
                      [boundaryLinks]="true" 
                      [totalItems]="sF428SampleNoDetail.totalItems"
                      [maxSize]="100"
                      [itemsPerPage]="sF428SampleNoDetail.itemsPerPage"
                      [(ngModel)]="sF428SampleNoDetail.currentPage"
                      (pageChanged) = "pageChangeds($event)"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading {{ 'F428.title' | translate }} ...</p></ngx-spinner
>
