<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-2">
              <strong>{{ "F428.title" | translate }}-Edit</strong>
            </div>
            <div class="col-10">
              <div class="float-right">
                <strong *ngIf="this.sF428SampleNoDetail.loginUser"
                  >{{ "Common.hello" | translate }} {{ this.sF428SampleNoDetail.loginUser }}</strong
                >
                <img
                  src="../assets/systemImg/taiwan.png"
                  tooltip="{{ this.sF428SampleNoDetail.loginUser }} Prefers Mandarin"
                  placement="bottom"
                  width="25"
                  height="25"
                  (click)="this.utility.useLanguage('zh')"
                />
                <img
                  src="../assets/systemImg/united-states.png"
                  tooltip="{{ this.sF428SampleNoDetail.loginUser }} Prefers English"
                  placement="bottom"
                  width="25"
                  height="25"
                  (click)="this.utility.useLanguage('en')"
                />
                <!--<img *ngIf="sF428SampleNoDetail.isPaging === true" tooltip="pagination on" placement="bottom" src="../assets/systemImg/pagination.png" width="25" height="25"  (click)="this.utility.setPagination(false,this.sF428SampleNoDetail)"/>
                <img *ngIf="sF428SampleNoDetail.isPaging === false" tooltip="pagination off" placement="bottom" src="../assets/systemImg/no-pagination.png" width="25" height="25"  (click)="this.utility.setPagination(true,this.sF428SampleNoDetail)"/>
                -->
                <img
                  src="../assets/systemImg/exit.png"
                  tooltip="Logout"
                  placement="bottom"
                  width="25"
                  height="25"
                  (click)="this.utility.logout()"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <!--place icon -->
                <div class="mb-3">
                  <img
                    src="../assets/systemImg/back-arrow.png"
                    tooltip="Go Back to Previous Page"
                    placement="bottom"
                    width="25"
                    height="25"
                    (click)="this.previousPage()"
                  />
                </div>
                <!--place icon -->
                <div class="table-responsive" *ngIf="result">
                  <table class="table text-center text-nowrap table-striped">
                    <!--text-nowrap不換行-->
                    <thead>
                      <tr class="table-info">
                        <th style="background-color: #76daff">Check</th>
                        <th style="background-color: #76daff">Kind</th>
                        <th style="background-color: #76daff">Material No</th>
                        <th style="background-color: #76daff">Order Stage</th>
                        <th style="background-color: #76daff">Article</th>
                        <th style="background-color: #76daff">Model No</th>

                        <th style="background-color: #76daff">Stock No</th>
                        <th style="background-color: #76daff">Location</th>
                        <th style="background-color: #76daff">
                          Material Qty/th>
                        </th>
                        <th style="background-color: #76daff">Test Result</th>
                        <th style="background-color: #76daff">In Box Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of result; let i = index">
                        <tr>
                          <td><input type="checkbox" class="larger" (change)="checkElement($event,item.stockNo)"></td>
                          <td>{{ item.kind }}</td>
                          <td>{{ item.materiaNo }}</td>
                          <td>{{ item.orderStage }}</td>
                          <td>{{ item.article }}</td>
                          <td>{{ item.modelNo }}</td>

                          <td>{{ item.stockNo }}</td>
                          <td>{{ item.location }}</td>
                          <td>{{ item.materialQty }}</td>
                          <td>{{ item.testResult }}</td>
                          <td>{{ item.inBoxDate | date: "yyyy/MM/dd" }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer">
                <div>
                  <label class="col-form-label mr-1">Check Status</label>
                  <select class="col-form-label mr-1" name="status" [(ngModel)]="sF428SampleNoDetail.status">
                    <option
                      *ngFor="let option of optionMap | keyvalue"
                      value="{{ option.key }}"
                    >
                      {{ option.value }}
                    </option>
                  </select>
                  <button class="btn btn-primary mr-1" type="button" (click)="save()">
                    {{ 'Common.btnList.save' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">
    Loading {{ "F428.title" | translate }} Edit...
  </p></ngx-spinner
>
