<app-header
  [navbarBrandRouterLink]="['']"
  [fixed]="true"
  [navbarBrandFull]="{
    src: 'assets/img/brand/favicon.ico',
    width: 89,
    height: 25,
    alt: 'SSB Logo'
  }"
  [navbarBrandMinimized]="{
    src: 'assets/img/brand/favicon.ico',
    width: 30,
    height: 30,
    alt: 'SSB Logo'
  }"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'"
>
<div class="row ml-auto">
  <div class="mr-2">
    <strong> Welcome {{ user | titlecase }}</strong>
  </div>
  <div class="mr-2">
    <img src="../assets/systemImg/exit.png" tooltip="Logout" placement="bottom" width="25" height="25" (click)="logout()"/>
  </div>
</div>

</app-header>
<div class="app-body">
  <app-sidebar
    #appSidebar
    [fixed]="true"
    [display]="'lg'"
    [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)"
  >
    <app-sidebar-nav
      [navItems]="navItems"
      [perfectScrollbar]
      [disabled]="appSidebar.minimized"
    ></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb - cannot delete this is page tile -->
    <cui-breadcrumb>
    <!-- Breadcrumb Menu cannot delete this is page tile -->
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <span><a href="assets/img/brand/favicon.ico">SSB</a> &copy; 2021 SSB</span>
  <span class="ml-auto"
    >Powered by <a href="assets/img/brand/favicon.ico">SSB</a></span
  >
</app-footer>
