<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <app-one-page-header></app-one-page-header>
        </div>
        <div class="card-body">
          <h1 class="text-left">{{ this.urlParam.licenseNumber }}{{ this.urlParam.signInDate| date: "yyyy/MM/dd hh:mm:ss" }} {{ 'Common.btnList.signature' | translate }}</h1>
          <div class="signature-pad">
            <div class="signature-pad--body">
              <canvas
                #sPad
                width="1050"
                height="350"
                style="touch-action: none"
              ></canvas>
            </div>
          </div>
          <br />
          <br />
          <section class="container">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-danger btn-lg" (click)="clear()">
                  {{ 'Common.btnList.clear' | translate }}
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-success btn-lg" (click)="save()">
                  {{ 'Common.btnList.save' | translate }}
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">{{ 'Common.loadingPleaseWait' | translate }}</p></ngx-spinner
>
